.legend-banner {
    position: absolute;
    bottom: 40px;
    width:50%;
    border-radius: 10px;
    background: #000;
    color: #fff;
    padding: 10px;
    font-size: 20px;
    text-align: center;
}

 .banner-img{
        height: 580px;
    }

@media only screen and (max-width: 600px) {
    .banner-img{
        height: 300px;
    }
}
